In [1]:
import pandas as pd

dataframe = pd.DataFrame()
print(dataframe)

Empty DataFrame
Columns: []
Index: []

In [2]:
data = [1, 2, 3, 4, 5]

dataframe = pd.DataFrame(data)
dataframe

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
dataframe = pd.DataFrame(data, columns=["numbers"])
dataframe

   numbers
0        1
1        2
2        3
3        4
4        5

In [4]:
data = [
  ["Hadi", 10],
  ["Reem", 12],
  ["Rama", 14]
]

dataframe = pd.DataFrame(data, columns=["Name", "Age"], index=["#1", "#2", "#3"])
dataframe

    Name  Age
#1  Hadi   10
#2  Reem   12
#3  Rama   14

In [5]:
data = {
  "Name": ["Ahmed", "Sami","Ruba"],
  "Age": [16, 18, 20]
}

dataframe = pd.DataFrame(data)
dataframe

    Name  Age
0  Ahmed   16
1   Sami   18
2   Ruba   20