In [1]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("datasets/students-scores.csv")
dataframe.head()

   gender  math score  reading score  writing score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75

#### iterrows()

In [39]:
for index, row in dataframe.head(3).iterrows():
  print(row)
  print("----")

gender           female
math score           72
reading score        72
writing score        74
Name: 0, dtype: object
----
gender           female
math score           69
reading score        90
writing score        88
Name: 1, dtype: object
----
gender           female
math score           90
reading score        95
writing score        93
Name: 2, dtype: object
----

In [41]:
for index, row in dataframe.head(3).iterrows():
  print(row.values)

['female' 72 72 74]
['female' 69 90 88]
['female' 90 95 93]

In [19]:
for index, row in dataframe.head(3).iterrows():
  print(index, row["gender"], row["math score"])

0 female 72
1 female 69
2 female 90

#### itertuples()

In [20]:
for row in dataframe.head(3).itertuples():
  print(row)
  print("----")

Pandas(Index=0, gender='female', _2=72, _3=72, _4=74)
----
Pandas(Index=1, gender='female', _2=69, _3=90, _4=88)
----
Pandas(Index=2, gender='female', _2=90, _3=95, _4=93)
----

In [23]:
for row in dataframe.head(3).itertuples():
  print(row.gender)

female
female
female

#### items()

In [32]:
for label, column in dataframe.head(3).items():
  print(label, column.values)

gender ['female' 'female' 'female']
math score [72 69 90]
reading score [72 90 95]
writing score [74 88 93]

In [33]:
for label, column in dataframe[["gender", "math score"]].head(3).items():
  print(label, column.values)

gender ['female' 'female' 'female']
math score [72 69 90]

#### columns

In [24]:
dataframe.columns

Index(['gender', 'math score', 'reading score', 'writing score'], dtype='object')

In [25]:
for column in dataframe.columns:
  print(column)

gender
math score
reading score
writing score

In [28]:
for column in dataframe.columns:
  print(column, dataframe[column][0])

gender female
math score 72
reading score 72
writing score 74