In [1]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("datasets/students-scores-modified-headers.csv")
dataframe.head()

   gender  Math Score  Reading Score  Writing Score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75

In [4]:
for row in dataframe.head().itertuples():
  print(row)

Pandas(Index=0, gender='female', _2=72, _3=72, _4=74)
Pandas(Index=1, gender='female', _2=69, _3=90, _4=88)
Pandas(Index=2, gender='female', _2=90, _3=95, _4=93)
Pandas(Index=3, gender='male', _2=47, _3=57, _4=44)
Pandas(Index=4, gender='male', _2=76, _3=78, _4=75)

In [7]:
dataframe.columns = [column.lower() for column in dataframe]
dataframe.columns

Index(['gender', 'math score', 'reading score', 'writing score'], dtype='object')

In [9]:
dataframe.columns = [column.replace(" ", "_") for column in dataframe]
dataframe.columns

Index(['gender', 'math_score', 'reading_score', 'writing_score'], dtype='object')

In [10]:
for row in dataframe.head().itertuples():
  print(row)

Pandas(Index=0, gender='female', math_score=72, reading_score=72, writing_score=74)
Pandas(Index=1, gender='female', math_score=69, reading_score=90, writing_score=88)
Pandas(Index=2, gender='female', math_score=90, reading_score=95, writing_score=93)
Pandas(Index=3, gender='male', math_score=47, reading_score=57, writing_score=44)
Pandas(Index=4, gender='male', math_score=76, reading_score=78, writing_score=75)