In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("datasets/students-scores.csv")
dataframe

     gender  math score  reading score  writing score
0    female          72             72             74
1    female          69             90             88
2    female          90             95             93
3      male          47             57             44
4      male          76             78             75
..      ...         ...            ...            ...
995  female          88             99             95
996    male          62             55             55
997  female          59             71             65
998  female          68             78             77
999  female          77             86             86

[1000 rows x 4 columns]

In [3]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math score     1000 non-null   int64
 2   reading score  1000 non-null   int64
 3   writing score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [4]:
dataframe.count()

gender           1000
math score       1000
reading score    1000
writing score    1000
dtype: int64

In [5]:
dataframe["math score"].mean()

66.089

In [6]:
dataframe["math score"].min()

0

In [7]:
dataframe["math score"].max()

100

In [8]:
dataframe["math score"].median()

66.0

In [9]:
# quantile of 0.5 is equal to median

q1 = dataframe["math score"].quantile(0.25)
q2= dataframe["math score"].quantile(0.5)
q3 = dataframe["math score"].quantile(0.75)
q4 = dataframe["math score"].quantile(1)

print(q1, q2, q3, q4)

57.0 66.0 77.0 100.0

In [10]:
dataframe["math score"].std()

15.16308009600945

In [11]:
dataframe.std(numeric_only=True)

math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

In [12]:
dataframe.mode()

   gender  math score  reading score  writing score
0  female          65             72             74