In [21]:
import pandas as pd

In [22]:
dataframe = pd.read_csv("students-scores.csv")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math score     1000 non-null   int64
 2   reading score  1000 non-null   int64
 3   writing score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [23]:
dataframe.columns = [column.replace(" ", "_") for column in dataframe]
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math_score     1000 non-null   int64
 2   reading_score  1000 non-null   int64
 3   writing_score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [24]:
statistics_dataframe = pd.DataFrame(columns=["function", "math_score", "reading_score", "writing_score"])
print(statistics_dataframe)

Empty DataFrame
Columns: [function, math_score, reading_score, writing_score]
Index: []

In [25]:
row = {
  "function": "count",
  "math_score": dataframe["math_score"].count(),
  "reading_score": dataframe["reading_score"].count(),
  "writing_score": dataframe["writing_score"].count()
}

statistics_dataframe = pd.concat([statistics_dataframe, pd.DataFrame([row])], ignore_index=True)

In [26]:
row = {
  "function": "min",
  "math_score": dataframe["math_score"].min(),
  "reading_score": dataframe["reading_score"].min(),
  "writing_score": dataframe["writing_score"].min()
}

statistics_dataframe = pd.concat([statistics_dataframe, pd.DataFrame([row])], ignore_index=True)

In [27]:
row = {
  "function": "max",
  "math_score": dataframe["math_score"].max(),
  "reading_score": dataframe["reading_score"].max(),
  "writing_score": dataframe["writing_score"].max()
}

statistics_dataframe = pd.concat([statistics_dataframe, pd.DataFrame([row])], ignore_index=True)

In [28]:
row = {
  "function": "mean",
  "math_score": dataframe["math_score"].mean(),
  "reading_score": dataframe["reading_score"].mean(),
  "writing_score": dataframe["writing_score"].mean()
}

statistics_dataframe = pd.concat([statistics_dataframe, pd.DataFrame([row])], ignore_index=True)

In [29]:
row = {
  "function": "median",
  "math_score": dataframe["math_score"].median(),
  "reading_score": dataframe["reading_score"].median(),
  "writing_score": dataframe["writing_score"].median()
}

statistics_dataframe = pd.concat([statistics_dataframe, pd.DataFrame([row])], ignore_index=True)

In [30]:
row = {
  "function": "std",
  "math_score": dataframe["math_score"].std(),
  "reading_score": dataframe["reading_score"].std(),
  "writing_score": dataframe["writing_score"].std()
}

statistics_dataframe = pd.concat([statistics_dataframe, pd.DataFrame([row])], ignore_index=True)

In [31]:
row = {
  "function": "mode",
  "math_score": dataframe["math_score"].mode()[0],
  "reading_score": dataframe["reading_score"].mode()[0],
  "writing_score": dataframe["writing_score"].mode()[0]
}

statistics_dataframe = pd.concat([statistics_dataframe, pd.DataFrame([row])], ignore_index=True)

In [32]:
statistics_dataframe

  function math_score reading_score writing_score
0    count       1000          1000          1000
1      min          0            17            10
2      max        100           100           100
3     mean     66.089        69.169        68.054
4   median       66.0          70.0          69.0
5      std   15.16308     14.600192     15.195657
6     mode         65            72            74