In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("datasets/students-scores.csv")

dataframe.head()

   gender  math score  reading score  writing score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75

In [5]:
dataframe.corr(numeric_only=True, method="pearson")

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000