In [ ]:
import numpy as np
from transformers import BertTokenizer, TFBertForSequenceClassification

model_name = "nlptown/bert-base-multilingual-uncased-sentiment"
tokenizer = BertTokenizer.from_pretrained(model_name)
model = TFBertForSequenceClassification.from_pretrained(model_name)

sentiment_mapping = {
  0: "Very Negative",
  1: "Negative",
  2: "Neutral",
  3: "Positive",
  4: "Very Positive"
}

In [15]:
text = "I like my job"

tokens = tokenizer(text)

predictions = model.predict([tokens.input_ids])

predicted_class = np.argmax(predictions.logits)

sentiment_mapping[predicted_class]

1/1 [==============================] - 0s 114ms/step

'Positive'

In [16]:
text = "I hate my job"

tokens = tokenizer(text)

predictions = model.predict([tokens.input_ids])

predicted_class = np.argmax(predictions.logits)

sentiment_mapping[predicted_class]

1/1 [==============================] - 0s 238ms/step

'Very Negative'

#### Analyze Setiments in Dataset

In [17]:
import pandas as pd

csv_file = "../IMDB.csv"
dataframe = pd.read_csv(csv_file)

dataframe

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [20]:
rows_to_analyze = dataframe.sample(5)

sentiments_dataframe = rows_to_analyze.copy()

sentiments_bert = []

rows_to_analyze

                                                  review sentiment
46622  Perhaps I'm out of date or just don't know wha...  negative
35104  Ride with the Devil, like Ang Lee's later Brok...  positive
4645   Martin Ritt's first film offers an exceptional...  positive
16937  Hercules the Avenger is by far the best single...  positive
33081  Words can scarcely describe this movie. Loaded...  negative

In [21]:
for review in rows_to_analyze['review']:
  tokens = tokenizer(review)

  predictions = model.predict([tokens.input_ids])

  predicted_class = np.argmax(predictions.logits)

  sentiments_bert.append(sentiment_mapping[predicted_class])

sentiments_dataframe['sentiments_bert'] = sentiments_bert

sentiments_dataframe

1/1 [==============================] - 5s 5s/step
1/1 [==============================] - 0s 493ms/step
1/1 [==============================] - 1s 707ms/step
1/1 [==============================] - 1s 697ms/step
1/1 [==============================] - 0s 485ms/step

,review,sentiment,sentiments_bert
46622,Perhaps I'm out of date or just don't know wha...,negative,Negative
35104,"Ride with the Devil, like Ang Lee's later Brok...",positive,Very Positive
4645,Martin Ritt's first film offers an exceptional...,positive,Positive
16937,Hercules the Avenger is by far the best single...,positive,Positive
33081,Words can scarcely describe this movie. Loaded...,negative,Very Negative