#### Cross Validation

* Split dataset into n sub-datasets (5 in this example)
* Model will train the dataset n times
* Each time n-1 sub-datasets will be used to train and 1 sub-dataset will be used to test

In [8]:
import pandas as pd

data = pd.read_csv("datasets/iris.csv")

data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
8,9,4.4,2.9,1.4,0.2,Iris-setosa
104,105,6.5,3.0,5.8,2.2,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica

#### Encode Label Values

In [13]:
data["Species"] = data["Species"].replace("Iris-setosa", 0)
data["Species"] = data["Species"].replace("Iris-virginica", 1)
data["Species"] = data["Species"].replace("Iris-versicolor", 2)

data.sample(5)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
126  127            6.2           2.8            4.8           1.8        1
56    57            6.3           3.3            4.7           1.6        2
46    47            5.1           3.8            1.6           0.2        0
52    53            6.9           3.1            4.9           1.5        2
59    60            5.2           2.7            3.9           1.4        2

In [10]:
x  = data[["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"]]
y = data["Species"]

In [11]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
scores_accuracy = cross_val_score(model, x, y, cv = 5, scoring = "accuracy")

print(scores_accuracy)

[0.93333333 0.96666667 0.93333333 0.93333333 1.        ]

Accuracy won't change no matter how many times we run the validation

In [12]:
scores_accuracy.mean()

0.9533333333333334