In [1]:
import pandas as pd

data = pd.read_csv("datasets/purchase-iPhone.csv")

data.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [2]:
x = data.iloc[:, :-1]
y = data.iloc[:, 3]

In [3]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

x["Gender"] = encoder.fit_transform(x["Gender"])

In [4]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x = scaler.fit_transform(x)

In [31]:
from sklearn.model_selection import cross_val_score

models = []

def compare_classification(models, x, y, cv):
  cross_validation_data = pd.DataFrame()

  for model in models:
    accuracy = cross_val_score(model, x, y, cv = cv, scoring = "accuracy")
    acc_avg = round(accuracy.mean(), 3)

    cross_validation_data[str(model)] = [acc_avg]
    cross_validation_data.index = ["Accuracy"]

  return cross_validation_data

In [32]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

models.append(model)

In [33]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion = "entropy")

models.append(model)

In [34]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

models.append(model)

In [35]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier()

models.append(model)

In [36]:
from sklearn.svm import SVC

model = SVC(kernel = "rbf")

models.append(model)

In [37]:
compare_classification(models, x, y, 5)

,LogisticRegression(),DecisionTreeClassifier(criterion='entropy'),GaussianNB(),KNeighborsClassifier(),SVC()
Accuracy,0.82,0.793,0.888,0.882,0.9

Accuracy scores with cross validation are better than random split dataset!