In [27]:
import mysql.connector
import pandas as pd

In [28]:
def connect():
  connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "wp-ecommerce"
  )

  cursor = connection.cursor(dictionary = True)

  return connection, cursor

In [29]:
def get_product_title(product_id):
  _, cursor = connect()

  sql = '''
    SELECT post_title FROM wp_posts WHERE ID = (%s)
  '''
  
  cursor.execute(sql, (product_id, ))
  
  result = cursor.fetchone()

  return result["post_title"] if result else None

In [30]:
get_product_title(55945)

"بنطال قماش رجالي-أزرق-Levi's"

In [31]:
def build_transactions():
  _, cursor = connect()

  sql = '''
    SELECT * FROM wp_wc_order_stats ORDER BY order_id
  '''
  
  cursor.execute(sql)

  results = cursor.fetchall()

  data = pd.DataFrame(columns = [0, 1, 2, 3, 4])
  
  for row in results:
    order_id = row["order_id"]

    sql = '''
      SELECT * FROM wp_wc_order_product_lookup WHERE order_id = (%s)
    '''
  
    cursor.execute(sql, (order_id, ))
    
    order_products = cursor.fetchall()

    product_ids = []

    for product in order_products:
      product_id = product["product_id"]

      if product_id > 0:
        product_ids.append(product_id)

    if len(product_ids) > 1:
      data = pd.concat([data, pd.DataFrame([product_ids])], ignore_index = True)
  
  return data

In [32]:
transactions = build_transactions()

transactions

          0      1      2      3      4
0     55959  55979  56265  55968    NaN
1     55945  55947  56108  56261  55973
2     55890  55931  56064  56297  55898
3     56007  55982  56152  56286  55981
4     55884  55886  56082  56288  55879
...     ...    ...    ...    ...    ...
2540  56214  56247  56238  56235    NaN
2541  56354  56341    NaN    NaN    NaN
2542  55958  56005    NaN    NaN    NaN
2543  56007  56115  55976    NaN    NaN
2544  56200  56202    NaN    NaN    NaN

[2545 rows x 5 columns]

In [33]:
from mlxtend.preprocessing import TransactionEncoder

def encode_transactions(transactions):
  transactions = transactions.T

  transactions = transactions.apply(lambda x: x.dropna().tolist())

  transactions = transactions.tolist()

  encoder = TransactionEncoder()

  encoded_transactions = encoder.fit_transform(transactions)

  data = pd.DataFrame(encoded_transactions, columns = encoder.columns_)

  return data

In [34]:
transactions = encode_transactions(transactions)

transactions

,55868,55869,55870,55873,55874,55876,55877,55878,55879,55881,...,56345,56347,56350,56351,56354,56355,56358,56359,56360,56363
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2541,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2542,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2543,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2544,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [35]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

def generate_association_rules(transactions, min_support, min_confidence):
  frequent_itemsets = apriori(transactions, min_support = min_support, use_colnames = True)
  frequent_itemsets["length"] = frequent_itemsets["itemsets"].apply(lambda x: len(x))

  rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = min_confidence)
  rules = rules.sort_values("confidence", ascending = False)

  return rules

#### Try to find the best possible min_support value

In [36]:
# set initial min_support value that returns no results
min_support = 0.01

# 0.1 is an experimental value
rules = generate_association_rules(transactions, min_support, 0.1)

len(rules)

0

In [37]:
steps = 0
count = 0

# 50 is how many rules we would like to generate
while count < 50:
  min_support = min_support * 90 / 100
  steps += 1

  rules = generate_association_rules(transactions, min_support, 0.1)
  count = len(rules)

  print(f"min_support: {min_support}, rules count: {count}")

min_support: 0.009000000000000001, rules count: 0
min_support: 0.008100000000000001, rules count: 0
min_support: 0.007290000000000001, rules count: 0
min_support: 0.006561000000000001, rules count: 2
min_support: 0.005904900000000001, rules count: 8
min_support: 0.00531441, rules count: 22
min_support: 0.004782969000000001, rules count: 26
min_support: 0.0043046721, rules count: 52

In [38]:
rules = generate_association_rules(transactions, 0.004, 0.1)

rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
15,(56235),(56193),0.009430,0.031434,0.004322,0.458333,14.580729,0.004026,1.788122,0.940283
28,(56209),(56238),0.012181,0.036149,0.005501,0.451613,12.492987,0.005061,1.757610,0.931299
51,(56323),(56305),0.010609,0.016896,0.004322,0.407407,24.112834,0.004143,1.658988,0.968806
4,(56179),(56238),0.017289,0.036149,0.006287,0.363636,10.059289,0.005662,1.514623,0.916433
1,(56179),(56218),0.017289,0.029862,0.006287,0.363636,12.177033,0.005771,1.524502,0.934026
20,(56195),(56238),0.015717,0.036149,0.005501,0.350000,9.682065,0.004933,1.482847,0.911035
40,(56227),(56228),0.014931,0.031041,0.004715,0.315789,10.173218,0.004252,1.416170,0.915370
8,(56188),(56228),0.017682,0.031041,0.005501,0.311111,10.022504,0.004952,1.406553,0.916429
35,(56245),(56217),0.014145,0.033399,0.004322,0.305556,9.148693,0.003850,1.391906,0.903475
42,(56232),(56228),0.015717,0.031041,0.004715,0.300000,9.664557,0.004227,1.384227,0.910845
19,(56195),(56217),0.015717,0.033399,0.004322,0.275000,8.233824,0.003797,1.333243,0.892578
50,(56305),(56323),0.016896,0.010609,0.004322,0.255814,24.112834,0.004143,1.329494,0.975002
2,(56179),(56228),0.017289,0.031041,0.004322,0.250000,8.053797,0.003786,1.291945,0.891244
49,(56247),(56238),0.023576,0.036149,0.005501,0.233333,6.454710,0.004649,1.257197,0.865479
7,(56183),(56199),0.018861,0.022397,0.004322,0.229167,10.232091,0.003900,1.268242,0.919613
17,(56247),(56193),0.023576,0.031434,0.005108,0.216667,6.892708,0.004367,1.236467,0.875561
44,(56234),(56228),0.025540,0.031041,0.005501,0.215385,6.938656,0.004708,1.234947,0.878312
46,(56228),(56238),0.031041,0.036149,0.006680,0.215190,5.952807,0.005558,1.228132,0.858666
0,(56218),(56179),0.029862,0.017289,0.006287,0.210526,12.177033,0.005771,1.244768,0.946132
13,(56230),(56193),0.022790,0.031434,0.004715,0.206897,6.581897,0.003999,1.221235,0.867846
11,(56228),(56193),0.031041,0.031434,0.006287,0.202532,6.443038,0.005311,1.214551,0.871857
10,(56193),(56228),0.031434,0.031041,0.006287,0.200000,6.443038,0.005311,1.211198,0.872211
26,(56202),(56238),0.025540,0.036149,0.005108,0.200000,5.532609,0.004185,1.204813,0.840726
31,(56218),(56217),0.029862,0.033399,0.005894,0.197368,5.909443,0.004897,1.204290,0.856352
6,(56199),(56183),0.022397,0.018861,0.004322,0.192982,10.232091,0.003900,1.215760,0.922939
23,(56199),(56238),0.022397,0.036149,0.004322,0.192982,5.338482,0.003513,1.194337,0.831299
38,(56219),(56238),0.023183,0.036149,0.004322,0.186441,5.157517,0.003484,1.184733,0.825240
37,(56219),(56218),0.023183,0.029862,0.004322,0.186441,6.243310,0.003630,1.192461,0.859760
47,(56238),(56228),0.036149,0.031041,0.006680,0.184783,5.952807,0.005558,1.188589,0.863217
24,(56202),(56218),0.025540,0.029862,0.004715,0.184615,6.182186,0.003952,1.189791,0.860215
9,(56228),(56188),0.031041,0.017682,0.005501,0.177215,10.022504,0.004952,1.193895,0.929064
45,(56228),(56234),0.031041,0.025540,0.005501,0.177215,6.938656,0.004708,1.184343,0.883299
30,(56217),(56218),0.033399,0.029862,0.005894,0.176471,5.909443,0.004897,1.178024,0.859485
5,(56238),(56179),0.036149,0.017289,0.006287,0.173913,10.059289,0.005662,1.189598,0.934366
32,(56217),(56238),0.033399,0.036149,0.005501,0.164706,4.556266,0.004294,1.153906,0.807491
16,(56193),(56247),0.031434,0.023576,0.005108,0.162500,6.892708,0.004367,1.165880,0.882665
25,(56218),(56202),0.029862,0.025540,0.004715,0.157895,6.182186,0.003952,1.157171,0.864048
21,(56238),(56195),0.036149,0.015717,0.005501,0.152174,9.682065,0.004933,1.160949,0.930348
48,(56238),(56247),0.036149,0.023576,0.005501,0.152174,6.454710,0.004649,1.151680,0.876769
29,(56238),(56209),0.036149,0.012181,0.005501,0.152174,12.492987,0.005061,1.165120,0.954458
33,(56238),(56217),0.036149,0.033399,0.005501,0.152174,4.556266,0.004294,1.140094,0.809796
43,(56228),(56232),0.031041,0.015717,0.004715,0.151899,9.664557,0.004227,1.160572,0.925250
41,(56228),(56227),0.031041,0.014931,0.004715,0.151899,10.173218,0.004252,1.161499,0.930589
12,(56193),(56230),0.031434,0.022790,0.004715,0.150000,6.581897,0.003999,1.149659,0.875592
36,(56218),(56219),0.029862,0.023183,0.004322,0.144737,6.243310,0.003630,1.142125,0.865680
27,(56238),(56202),0.036149,0.025540,0.005108,0.141304,5.532609,0.004185,1.134814,0.849980
3,(56228),(56179),0.031041,0.017289,0.004322,0.139241,8.053797,0.003786,1.141679,0.903893
14,(56193),(56235),0.031434,0.009430,0.004322,0.137500,14.580729,0.004026,1.148487,0.961645
34,(56217),(56245),0.033399,0.014145,0.004322,0.129412,9.148693,0.003850,1.132401,0.921471
18,(56217),(56195),0.033399,0.015717,0.004322,0.129412,8.233824,0.003797,1.130595,0.908906
39,(56238),(56219),0.036149,0.023183,0.004322,0.119565,5.157517,0.003484,1.109471,0.836341
22,(56238),(56199),0.036149,0.022397,0.004322,0.119565,5.338482,0.003513,1.110364,0.843161

In [39]:
def predict(rules, items, max_results = 6):
  predicts = rules[rules["antecedents"] == items]
  predicts = predicts[["consequents", "confidence"]]
  predicts.sort_values("confidence", ascending = False)

  return predicts[:max_results]

In [40]:
predictions = predict(rules, {56193})

predictions

   consequents  confidence
10     (56228)      0.2000
16     (56247)      0.1625
12     (56230)      0.1500
14     (56235)      0.1375

In [41]:
print(f"Item: {get_product_title(56193)}\n")

print("Recommendations:")
for _, prediction in predictions.iterrows():
  for product_id in prediction["consequents"]:
    print(get_product_title(product_id))

Item: فرن-بني-HP

Recommendations:
غسالة-أسود-LG
غسالة-فضي-SONY
غسالة-أسود-SONY
مصفف شعر-أسود داكن-SONY

In [42]:
def export_associations_rules(rules):
  connection, cursor = connect()

  sql = "DROP TABLE IF EXISTS wp_wc_product_associations"
  
  cursor.execute(sql)

  sql = '''
    CREATE TABLE wp_wc_product_associations (
      ID int(11) NOT NULL AUTO_INCREMENT,
      antecedent_product_id int(11) NOT NULL,
      antecedent_product_title text NOT NULL,
      consequent_product_id int(11) NOT NULL,
      consequent_product_title text NOT NULL,
      confidence double NOT NULL,
      PRIMARY KEY (ID)
    )
  '''
  
  cursor.execute(sql)
  
  connection.commit()

  for rule in rules.itertuples():
    antecedents = rule.antecedents
    consequents = rule.consequents
    confidence = rule.confidence * 100

    for antecedent_product_id in antecedents:
      antecedent_product_title = get_product_title(antecedent_product_id)

      for consequent_product_id in consequents:
        consequent_product_title = get_product_title(consequent_product_id)
        
        # delete association rule with low confidence
        sql = '''
          DELETE FROM wp_wc_product_associations
          WHERE antecedent_product_id = (%s)
          AND consequent_product_id = (%s)
          AND confidence < (%s)
        '''
  
        cursor.execute(sql, (antecedent_product_id, consequent_product_id, confidence))

        # get association rule with accepted or better confidence
        sql = '''
          SELECT * FROM wp_wc_product_associations
          WHERE antecedent_product_id = (%s)
          AND consequent_product_id = (%s)
          AND confidence >= (%s)
        '''
  
        cursor.execute(sql, (antecedent_product_id, consequent_product_id, confidence))

        result = cursor.fetchone()

        # insert association rule if not stored in the table
        insert_association = False if result else True

        if insert_association:
          sql = '''
            INSERT INTO wp_wc_product_associations VALUES (NULL, %s, %s, %s, %s, %s)
          '''
  
          cursor.execute(sql, (antecedent_product_id, antecedent_product_title,
                              consequent_product_id, consequent_product_title,
                              confidence))
    
          connection.commit()

In [43]:
export_associations_rules(rules)

In [44]:
def get_recommended_products_by_product(product_id):
  _, cursor = connect()

  sql = '''
    SELECT * FROM wp_wc_product_associations
    WHERE antecedent_product_id = (%s)
    ORDER BY confidence DESC
  '''
  
  cursor.execute(sql, (product_id, ))

  results = cursor.fetchall()

  entries = []

  for row in results:
    entries.append({
      "product_id": row["consequent_product_id"],
      "product_title": row["consequent_product_title"],
      "confidence": round(row["confidence"], 2)
    })
  
  data = pd.DataFrame(entries)

  return data

In [45]:
data = get_recommended_products_by_product(56193)

data

   product_id            product_title  confidence
0       56228            غسالة-أسود-LG       20.00
1       56247           غسالة-فضي-SONY       16.25
2       56230          غسالة-أسود-SONY       15.00
3       56235  مصفف شعر-أسود داكن-SONY       13.75